{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "jsxSingleAttributePerLine": true,
  "arrowParens": "always"
}
