.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  padding: 5px 16px 8px !important;
}

.full-modal {
  .ant-modal {
    position: absolute;
    max-width: 100%;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }
  .ant-modal-body {
    flex: 1;
  }
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.zebra {
  .ant-table-row:nth-child(2n),
  .ant-table-row:nth-child(2n) > .ant-table-cell {
    background-color: #fcfcfc;
  }
}

.bordered {
  .ant-table-tbody > tr > td {
    border-right: 1px solid #f0f0f0;
  }
}