@import url("./default.less");

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  padding: 5px 16px 8px !important;
}

/* 全屏:开始 */
.full-modal {
  .ant-modal {
    position: absolute;
    max-width: 100%;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding-bottom: 0;
    margin: 0;
  }

  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }

  .ant-modal-body {
    flex: 1;
  }
}

/* 全屏:结束 */

/* 表格列拖拽:开始 */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

/* 表格列拖拽:结束 */

/* 斑马线:开始 */
.theme-primary {
  .zebra {
    .ant-table-row:nth-child(2n),
    .ant-table-row:nth-child(2n) > .ant-table-cell {
      background-color: #fcfcfc;
    }
  }
}

/* 斑马线:结束 */

/* 边框:开始 */
.bordered {
  .ant-table-tbody > tr > td {
    border-right: 1px solid #f0f0f0;
  }
}

/* 边框:结束 */

/* 分页:开始 */
.ant-pagination-item {
  background-color: #f4f4f5 !important;
  margin-right: 7px !important;
}

.ant-pagination-item-active {
  background-color: #0960bd !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
}

.ant-pagination-prev {
  margin-right: 7px !important;
  background-color: #f4f4f5 !important;
}

.ant-pagination-next {
  margin-right: 7px !important;
  background-color: #f4f4f5 !important;
}

.theme-dark {
  .border-bottom {
    border-bottom: 1px solid @darkColor !important;
  }

  .bordered {
    .ant-table-tbody > tr > td {
      border-right: 1px solid #3f3f3f;
    }
  }

  .ant-pagination-item {
    background-color: rgb(29 29 29) !important;
    margin-right: 7px !important;
  }

  .ant-pagination-item-active {
    background-color: #0960bd !important;
  }

  .ant-pagination-item-active a {
    color: #ffffffd9 !important;
  }

  .ant-pagination-prev {
    margin-right: 7px !important;
    background-color: rgb(29 29 29) !important;
  }

  .ant-pagination-next {
    margin-right: 7px !important;
    background-color: rgb(29 29 29) !important;
  }
}

/* 分页:结束 */

/* 标签:开始 */
.ant-tabs-tab-active {
  background-color: #1d4ed8 !important;

  .ant-tabs-tab-remove {
    color: #fff !important;
  }

  .ant-tabs-tab-btn {
    color: #fff !important;
  }
}

/* 标签:结束 */
